<nav class="hidden lg:flex h-[56px] justify-center items-center lg:gap-6 xl:gap-10 border-b border-[#F4F4F4]">
    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize">Shop All</p>
    <div class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px]">
        Flower
        <img src="/assets/arrow-down.png" alt="down-arrow">
    </div>
    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize">Edibles</p>
    <div class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px]">
        concentrates
        <img src="/assets/arrow-down.png" alt="down-arrow">
    </div>
    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize">mushrooms</p>
    <div class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px]">
        promotions/Bundles
        <img src="/assets/arrow-down.png" alt="down-arrow">
    </div>
    <div class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px]">
        support
        <img src="/assets/arrow-down.png" alt="down-arrow">
    </div>
    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize">rewards</p>
    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize">blog</p>
</nav>