<nav class="hidden lg:flex h-[56px] justify-center items-center lg:gap-6 xl:gap-10 border-b border-[#F4F4F4]">

    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize hover:text-primary cursor-pointer">
        Shop All
    </p>

    <div class="relative group">
        <div
            class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px] group-hover:text-primary cursor-pointer ">
            Flower
            <img src="/assets/arrow-down.png" alt="down-arrow">
        </div>
        <!-- Dropdown Menu -->
        <app-dropdown></app-dropdown>
    </div>

    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize hover:text-primary cursor-pointer">Edibles</p>

    <div class="relative group">
        <div
            class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px] group-hover:text-primary cursor-pointer">
            concentrates
            <img src="/assets/arrow-down.png" alt="down-arrow">
        </div>
        <!-- Dropdown Menu -->
        <app-dropdown></app-dropdown>
    </div>

    <div class="relative group">
        <div
            class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px] group-hover:text-primary cursor-pointer">
            concentrates
            <img src="/assets/arrow-down.png" alt="down-arrow">
        </div>
        <!-- Dropdown Menu -->
        <app-dropdown></app-dropdown>
    </div>

    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize hover:text-primary cursor-pointer">mushrooms
    </p>

    <div class="relative group">
        <div
            class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px] group-hover:text-primary cursor-pointer">
            promotions/Bundles
            <img src="/assets/arrow-down.png" alt="down-arrow">
        </div>
        <!-- Dropdown Menu -->
        <app-dropdown></app-dropdown>
    </div>

    <div class="relative group">
        <div
            class="text-[#46494F] text-[16px] leading-6 font-normal capitalize flex items-center justify-center gap-[6px] group-hover:text-primary cursor-pointer">
            support
            <img src="/assets/arrow-down.png" alt="down-arrow">
        </div>
        <!-- Dropdown Menu -->
        <app-dropdown></app-dropdown>
    </div>

    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize hover:text-primary cursor-pointer">rewards</p>

    <p class="text-[#46494F] text-[16px] leading-6 font-normal capitalize hover:text-primary cursor-pointer">blog</p>
</nav>