<div class="">
    <p class="uppercase text-[#9D9EA2] text-[14px] leading-[21px] pb-3 lg:pb-4 tracking-[2px] lg:tracking-[4px]">
        CONCENTRATES</p>
    <p
        class="text-[#060709] font-medium text-[20px] leading-[30px] lg:font-semibold lg:text-[32px] lg:leading-[38.4px] tracking-[-1px]">
        {{product.name}}
    </p>

    <!-- categories -->

    <div class="flex my-3 lg:my-4 gap-4 h-[28px] lg:h-[36px]">
        @for (category of product.categories; track $index) {
        <div class="h-full bg-[#F2F6F4] px-[10px] lg:px-4 flex rounded-[8px]">
            <p class="m-auto text-[12px] leading-[18px] text-secondary font-normal">{{category}}</p>
        </div>
        }
    </div>

    <!-- pricing & product rating section -->

    <div class="flex w-full justify-between">
        <div class="flex gap-2 lg:gap-3 items-center">
            <p
                class="text-[#9D9EA2] text-[14px] leading-[21px] lg:text-[16px] lg:leading-[24px] font-normal line-through">
                $50.00</p>
            <p class="text-red-primary text-[16px] leading-[24px] lg:text-[20px] lg:leading-[30px] font-medium">
                ${{product.price}}.00</p>
        </div>
        <div class="flex gap-2 lg:gap-3 items-center ">
            <div class="flex items-center gap-1">
                <img src="assets/star.png" alt="star" height="16" width="16">
                <p class="text-[16px] leading-[24px] text-[#060709]">4.6/5</p>
            </div>
            <div class="text-[#C8C9CB]">|</div>
            <div class="flex items-center justify-center gap-1">
                <p class="text-[16px] leading-[24px] text-[#060709]">{{reviewData.length}}</p>
                <p class="text-[#9D9EA2] text-[14px] leading-[21px]">Reviews</p>
            </div>
        </div>
    </div>

    <!-- product-features -->

    <div class="my-5 rounded-[8px] border border-[#F4F4F4] py-5 px-6 flex flex-col gap-5">
        @for (feature of features; track $index) {
        <div class="flex gap-4">
            <img [src]='feature.icon' alt="icon" class="h-[32px] w-[32px]">
            <div>
                <p class="text-[#717378] text-[12px] leading-[18px] font-[300] uppercase tracking-[1px]">
                    {{feature.title}}</p>
                <p class="text-[#060709] text-[14px] leading-[21px] font-[400] pt-[6px] lg:pt-[10px]">{{feature.desc}}
                </p>
            </div>
        </div>
        }
    </div>

    <!-- product description -->

    <div class="border-b border-[#F4F4F4] pb-6">
        <p class="text-[#717378] text-[12px] leading-[18px] font-[300] uppercase tracking-[1px]">Description</p>
        <p class="text-[#46494F] text-[14px] leading-[21px] pt-3">{{product.description}}</p>
    </div>

    <!-- Add cart section -->
    <app-cart-container [product]="product" [price]="price" [integra4g]="integra4g" [integra8g]="integra8g"
        [quantity]="quantity"></app-cart-container>

    <div class="pt-6 flex justify-between gap-3 flex-col lg:flex-row flex-wrap border-t border-[#f4f4f4]">
        <div class="flex items-center">
            <p class="text-[#717378] text-[12px] leading-[18px] font-[300] w-[92px]">SKU</p>
            <p class="text-[#717378]">: </p>
            <p class="px-2 text-[#060709] text-[14px] leading-[21px]">N/A</p>
        </div>
        <div class="flex items-center">
            <p class="text-[#717378] text-[12px] leading-[18px] font-[300] w-[92px]">Categories</p>
            <p class="text-[#717378]">: </p>
            @for (category of product.categories; track $index) {
            <p class="px-2 text-primary text-[14px] leading-[21px]">
                {{category}}
            </p>
            }
        </div>
    </div>

    <div class="my-8 ">
        <p class="border-t border-[#C8C9CB]"></p>
    </div>

    <!-- toggle section -->

    <app-toggle [reviewData]="reviewData"></app-toggle>

</div>